.wrapper 
  .blog-contens
  %h2.edit 編集
  = form_with model: @blog, local: true do |f|
    .Exhibition-form
      .blog-title タイトル
      = f.text_field :title, class: "title_field"
    .Exhibition-form
      .blog-text 記事
      = f.text_field :detatil, class: "text_field"
    .Exhibition-form
      .image_field 画像
      = f.fields_for :images do |image|
        = image.file_field :src, class:"image_field"
      -# .upload-box
      -#   .upload-area
      -#     .images_upload-box
      -#       #images_upload
      -#         .p_upload
      -#           =icon('fas','camera')
      -#   #image-box
      -#     #previews
      -#       -# 複数の別のリソースを同時に保存させる
      -#       = f.fields_for :image do |image|
      -#         .js-file_group{data: {index: image.index}} 
      -#           = image.file_field :url, data:{ index: image.index }, class: 'js-file'
    .Exhibition-btn
      = f.submit "投稿"