= render "layouts/header"

.main
  %section.mainVisual
    .content
      %h2.content__subtitle Where there is will there is a way
      %p.content__text If you try hard, anything is possible
      %p.content__text If you don't try, you won't succeed
  %section.Middle
    %h2.blogs TechBlog
    = form_with url:  search_blogs_path,local:  true, method: :get, calss: "search_form" do |f|
      = f.text_field :keyword, placeholder:"キーワードから検索する" , class:"input"
      = f.button "検索", 　class:"search-btn" 
    .blogbox 
      - @blogs.each do |blog|
        %p.blogdiary
          =blog.created_at.strftime('%Y/%m/%d')
        = link_to blog_path(blog.id), method: :get do
          %p.blogtitle
            = blog.title
    .contentbox
    .about