= render "layouts/error_message"

.wrapper 
  .blog-contens
    = form_with model: @blog, local: true do |f|
      .Exhibition-form
        .blog-title タイトル
        = f.text_field :title, class: "title_field"
      .Exhibition-form
        .blog-text 記事
        = f.text_field :detatil, class: "text_field"
      .Exhibition-form
        .unsplash
          = photo = Unsplash::Photo.find("tAKXap853rY")
          = image_tag photo.track_download , id:'url'
          = button_tag '選択', type: 'button',id:'ogp'
        .image_field 画像
        = f.text_field :ogp_image, id:'ogp'
      .Exhibition-btn
        = f.submit "投稿"